@charset 'UTF-8';
@import "utils/variables";
@import "utils/functions";
@import "utils/media";
@import "utils/mixins";
@import "utils/placeholders";

@import "base/reset";
@import "base/typography";
@import "base/global";

@import "components/loader";
@import "components/hamburguer";
@import "components/navbar";
@import "components/buttons";

@import "layout/footer";


#myVideo {
    @include MQ(M) {
        min-width: 100%;
        object-fit: contain;
        object-position: top;
        max-width: 100% !important;
    }
}

.long-content {
    max-height: 700px;
    overflow: hidden;
    background-color: $brand-secondary-color;
    position: relative;
}

.video-overlay {
    background-color: rgba(darken($brand-secondary-color, 30%), .5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-text {
    position: relative;
    @include centerer();

    & h1 {
        font-size: 1.8rem;

        @include MQ(M) {
            font-size: 2.5rem;
        }
    }
}

.home-content {
    @include MQ(M) {
        background: linear-gradient(90deg, rgba(214, 213, 213, 1) 0%, rgba(214, 213, 213, 1) 40%, rgba(230, 230, 230, 1) 40%, rgba(230, 230, 230, 1) 100%);
    }
}

.main-menu a {
    font-size: 1.1rem;
    padding: .5rem;
    @include MQ(M) {
        font-size: .8rem;
    }
}

.project-info-wrapp {
    position: relative;
}

.label-vendido {
    position: absolute;
    top: -10px;
    right: 20px;
}

.formulario-general {

    input,
    textarea {
        background: none;
        border: none;
        border-bottom: 1px solid $brand-secondary-color;
        border-radius: 0;
    }

    .input-group-text {
        border-radius: 0;
        border-bottom: 1px solid $brand-secondary-color;
    }

    .label {
        position: relative;
        transition: .1s all ease-in-out;
        transform: translateY(35px);
    }

    .activelabel {
        transform: translateY(0);
    }
}

.planta-item {
    transition: all .1s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.plantas-info {
    &-wrap {
        @include MQ(M) {
            min-height: 395px;
        }
    }

    &-title {
        font-size: 1.3rem;
        font-weight: $font-bold;
        border-bottom: 4px solid $brand-primary-color;
    }
}

.content-table ul {
    @include MQ(M) {
        max-width: 300px;
    }

    border-top: 1px solid $brand-secondary-color;
    padding: 5px 0;
}

.esquicio {
    @include MQ(M) {
        max-width: 300px;
    }
}

.fotografia-planta {
    width: 100%;
    max-width: 280px;
}

.menu-nav-fixed {
    position: fixed !important;
    top: 0;
    z-index: 10;
    width: 100%;
}

.bg-azul {
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($brand-primary-color, .95);
        display: block;
    }
}

.gallery-caarousel {
    .owl-nav {
        display: none;
    }

    @include MQ(M) {
        .owl-stage {
            display: flex;
            align-items: center;
        }

        .owl-item.active>div {
            opacity: .5;
            //width: 60%;
            transition: .5s all ease-in-out;

        }

        .owl-item.center {
            position: relative;
            z-index: 9 !important;

            div {
                //transition: 1s all ease-in-out;
                opacity: 1;
                width: 140%;
                position: relative;
                right: -20%;
                z-index: 9 !important;
            }
        }

        .owl-item.active .item {
            transition: .5s all ease-in-out;
            float: right;
            position: relative;
            z-index: 2;
        }

        .owl-item.center+.owl-item .item {
            float: none;
            position: relative;
            z-index: 2 !important;
        }

        .owl-nav {
            font-size: 40px;
            color: $white;
            position: relative;
            max-width: 700px;
            margin: 0 auto;
            margin-top: -20px;
            text-align: right;
            display: block;

            .owl-prev {
                border-radius: 0;
                background: rgba($brand-primary-color, .9) !important;

                span {
                    padding: 10px 20px !important;
                }
            }

            .owl-next {
                border-radius: 0;
                background: rgba($brand-secondary-color, .9) !important;

                span {
                    padding: 10px 20px !important;
                }
            }
        }

        .owl-dots.disabled,
        .owl-nav.disabled {
            display: block;
        }
    }
}

.btns-map {
    position: relative;
    bottom: 45px;

    @include MQ(M) {
        position: absolute;
        bottom: 20px;
    }
}

.br-shadow {
    @include MQ(M) {
        box-shadow: 1rem 0 1rem rgba(0, 0, 0, .15) !important;
    }
}

.primary-title {
    color: $brand-primary-color;
    font-weight: $font-bold;

    &::before {
        content: "";
        background: url('../img/title-img.png') no-repeat;
        background-size: contain;
        opacity: .7;
        position: absolute;
        top: -35px;
        width: 120px;
        height: 34px;
    }

    .section-title_naranjo & {
        color: #db9a45;

        &::before {
            content: "";
            background: url('../img/title-img-naranjo.png') no-repeat;
            background-size: contain;
        }
    }

    .section-title_verde & {
        color: #70b66d;

        &::before {
            content: "";
            background: url('../img/title-img-verde.png') no-repeat;
            background-size: contain;
        }
    }

    .section-title_gris & {
        color: #3C3C3C;

        &::before {
            content: "";
            background: url('../img/title-img-gris.png') no-repeat;
            background-size: contain;
        }
    }
}

.wrapper-only {
    position: relative;
}

.max-w-480 {
    max-width: 480px;
}

.project-info-text {
    font-size: 1.2rem;
}

#projectMenu a {
    &::after {
        content: "";
        transition: .5s all ease-in-out;
    }

    &.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: $brand-primary-color;
    }
}

.bg-img {
    background-size: cover;
    filter: blur(15px);
    opacity: .5;
}

.img-absolute {
    position: absolute;
    top: 0;
    margin: 0 auto;

    img {
        max-height: calc(80vh - 80px);
        object-fit: contain;
    }
}

.project {
    &-hero {
        img {
            max-height: calc(90vh - 80px);
            object-fit: cover;
            object-position: bottom;
        }
    }

    &-home-hero {
        img {
            max-height: calc(95vh - 80px);
            object-fit: cover;
            object-position: bottom;
        }
    }
}

.master-plan-content {}

.general-slide-nav {
    font-size: 40px;
    color: $white;
    position: relative;
    margin-top: -80px;
    display: flex;
    justify-content: flex-end;

    &-prev {
        color: $white;
        border-radius: 0;
        background: rgba($brand-primary-color, .9) !important;

        span {
            padding: 10px 20px !important;
        }
    }

    &-next {
        color: $white;
        border-radius: 0;
        background: rgba($brand-secondary-color, .9) !important;

        span {
            padding: 10px 20px !important;
        }
    }
}


.planB-tab {
    font-size: 40px;
    color: $white;

    @include MQ(M) {
        position: relative;
        margin-top: -20px;
        display: flex;
        justify-content: flex-end;
    }

    &-item {
        color: $white;
        border-radius: 0;
        background: rgba($brand-secondary-color, .9);

        &.active {
            background: rgba($brand-primary-color, .9) !important;
        }

        span {
            padding: 10px !important;
        }
    }
}

.bg-medio-azul {
    background: linear-gradient(90deg, #e6e6e6 0%, #e6e6e6 50%, #d6d5d5 50%, #d6d5d5 100%);
}

// .follow-button-pay {
//     background-color: rgba($white, .5) !important;
//     position: fixed;
//     bottom: -20px;
//     z-index: 3;
//     width: 100%;
//     padding: 1rem;

//     li{
//         width: 33%;
//         @include MQ(M){
//             width: auto;
//             &:last-child{
//                display: none;
//             }
//         }
//         a{
//             width: 100%;
//             min-width: 95px;
//             small{
//                 @include MQ(M){
//                     font-size: 100%;
//                 }
//             }
//         }
//     }

//     @include MQ(M){
//         padding: 1rem 1.5rem;
//         width: auto;
//         //min-width: 380px;
//         right: 10%;
//     }
// }

#caracteristicas img {
    //max-width: 60px;
    max-height: 60px;
    margin-bottom: 15px;
}

.project-carousel {
    .owl-stage {
        align-self: stretch;
    }

    .owl-item,
    .owl-stage {
        display: flex;
        height: 100%;
    }

    & .owl-item:nth-child(odd) {
        background: rgba($brand-primary-color, .9);
        margin: 0 20px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    & .owl-item:nth-child(even) {
        background: rgba($brand-secondary-color, .9);
        margin: 0 20px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    &--item {

        color: $white;
        display: flex;
        width: 100%;
        text-align: center;

        img {
            max-width: 60px;
        }

        p {
            font-size: 14px;
            line-height: 1;
        }
    }
}

.projec-wrapper {
    &-container {
        @include MQ(L) {
            z-index: 4;
            position: relative;
            margin-top: -10px;
        }

        @include MQ(XL) {
            z-index: 4;
            position: relative;
            margin-top: -50px;
        }
    }

    &-content {
        li {
            text-align: center;

            @include MQ(M) {
                width: 25%;
            }
        }

        &-ubicacion {
            @include MQ(M) {
                border-left: 1px solid #d6d5d5;
                border-right: 1px solid #d6d5d5;
            }
        }

        &-precio {
            @include MQ(M) {
                border-left: 1px solid #d6d5d5;
            }
        }

        &-img img {
            @include MQ(M) {
                max-width: 100%;
                max-height: 50px;
            }
        }
    }
}

.arquitectura-carousel,
.video-portada {
    position: relative;
    z-index: 2;

    &::after {
        content: "";
        display: block;
        height: 70%;
        width: 70%;
        position: absolute;
        bottom: 5%;
        right: 0;
        background: #d6d5d5;
        z-index: -1;
    }
}

.gallery-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: #e6e6e6;
}

.home-hero-container .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba($black, .3);
}

.buttons-next-prev-plantas {
    display: none;

    @include MQ(M) {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #e6e6e6;
        font-size: 4rem;
    }

    & a {
        position: relative;
        z-index: 2;
    }
}

.map-column {
    @include MQ(M) {
        height: 670px
    }
}

.mapItem {
    opacity: 0;
    height: 0;
    transition: 1s ease-in-out opacity;

    & iframe {
        transition: 1s ease-in-out opacity;
        height: 0;
    }
}

.mapActive {
    height: 100%;
    opacity: 1;

    & iframe {
        height: 670px;
    }
}

.blur-img {
    filter: blur(15px);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
}

.rentas-hero-title {
    position: absolute;
    @include center(y);
    padding: 10px 20px 10px 50px;
    background: rgba($white, .9);
}

.home-hero-container {
    min-height: calc(95vh - 80px);

    img {
        width: auto !important;
    }
}

.color-primary {
    color: $brand-primary-color;
}

.color-emphasis {
    color: $brand-emphasis-color;
}

.rentas-sub-title {
    font-size: 1.2rem;
}

$items: 1,
2,
3,
4;

@each $item in $items {
    .after-number-#{$item} {
        position: relative;

        &::after {
            content:"#{$item}";
            display: block;
            width: 50px;
            height: 50px;
            color: $white;
            background: $brand-primary-color;
            position: absolute;
            padding-left: 15px;
            font-size: 2rem;
            font-weight: bold;
            right: -10px;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        }
    }
}

.descripcion_proyecto p {
    font-size: .9rem;
}

.project-icons {
    min-width: 84px;
    width: 50%;
    @include MQ(M) {
        width: auto;
    }
}

.fixed-menu-primary {
    position: fixed;
    z-index: 4;
    width: 100%;
}

.link-active::after {
    content: "";
    height: 1px;
    background: $brand-primary-color;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    
    @include MQ(M) {
        width: 100%;
        height: 4px;
        width: 110%;
    }
}
.mp-list-bg {
    position: relative;
    width: 30px;
    height: 30px;
    background: $brand-primary-color;
    display: block;
    min-width: 30px;
    margin-right: 10px;
}
.mp-list-number {
    color: $white;
    position: relative;
    z-index: 2;
    @include centerer();
}
.master-plan-bullets {
    width: 50%;
    margin-bottom: 40px;
    position: relative;
    padding-right: 10px;

    @include MQ(L) {
        width: 25%;
    }
}

.img-404 {
    width: 100%;

    @include MQ(M) {
        width: auto !important;
    }
}

.playvideo {
    position: relative;
    z-index: 999999;
    align-self: center;
    justify-self: center;

    &::after {
        content: "";
        display: block;
        width: 90px;
        height: 70px;
        background: url('../img/play-video.png') no-repeat;
        background-size: contain;
        position: absolute;
        @include centerer();
    }
}

.play-button {
    @include centerer();
    z-index: 999;
    &-overlay {
        @include centerer();
        height: 100vh;
        width: 100%;
        background: rgba($brand-primary-color, .5);
        z-index: 998;
    }
}

.floating-form {
    @include MQ(M) {
        position: absolute;
        top: 0;
        right: 20px;
        max-width: 400px;
    }

    @include MQ(L) {
        top: 20px;
    }

    &-bg {
        background: rgba($white, .9);
        padding: 5px 10px 0 10px;

        @include MQ(L) {
            padding: 5px 25px 0 25px;
        }

        @include MQ(xL) {
            padding: 35px;
        }
    }
}

.formulario_floatante {
    @include MQ(L) {
        max-width: 400px;
    }
}

.pasos-wrapper {
    background: $brand-primary-color;
    background: linear-gradient(to bottom, $brand-primary-color, darken($brand-primary-color, 10%));
}

.flip {
    text-align: center;

    .fcard {
        min-height: 190px;
        transform-style: preserve-3d;
        transition: 0.5s;
        padding: 10px;

        .face {
            backface-visibility: hidden;
            z-index: 2;
        }

        .front {
            padding-top: 10px;
            position: absolute;
            z-index: 1;
        }

        .back {
            padding-left: 20px;
            padding-right: 20px;
            transform: rotatey(-180deg);
            position: absolute;
            background: $brand-secondary-color;
            color: $white;
            height: 100%;
        }

        img {
            height: 70px;
        }
    }

    .fcard.flipped {
        transform: rotatey(-180deg);
    }

    .more-info {
        background: $ligth-grey;
        border-radius: 50rem;
        padding: 2px 12px;
    }
}

.beneficios-carousel.owl-theme {
    .owl-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;

        .owl-prev,
        .owl-next {
            position: absolute;
            height: 100px;
            color: inherit;
            background: none;
            border: none;
            z-index: 100;

            i {
                font-size: 2.5rem;
                color: #cecece;
            }
        }

        .owl-prev {
            left: 0;
        }

        .owl-next {
            right: 0;
        }
    }
}

.beneficios-carousel{
    display: none; 
}
.beneficios-carousel.owl-loaded {
    display: block;
}
#navbarNav .menu-item a {
    font-weight: 700;
}
.menu-item-has-children .drop-menu {
    background: #f5f5f5;
    padding: 5px 0;
    @include MQ(M) {
        display: none;
        position: absolute;
        z-index: 10;
        background: $white;
        padding: 15px;
        min-width: 180px;
        display: none;
        margin-left: -15px;
    }
    .menu-item:not(.link-active) {
        margin-bottom: 10px;
        @include MQ(M) {
            border-bottom: 1px solid $medium-grey;
        }
    }
    .drop-item {
        font-size: 14px;
        @include MQ(M) {
            font-size: 12.8px;
        }
    }
}

.tab-pane.active a[data-fancybox="gallery"] {
    display: block !important;
}
.no-border {
    border: none !important;
}

.video-content-yb {
    overflow: hidden;
}

.container-yb {
    position: relative;
    width: 100vw;
    min-height: 770px;
    overflow: hidden;
    @include MQ(M) {
        width: 100vw;
        height:  calc(95vh - 80px);
    }
}
.video-yb {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height:  calc(95vh - 80px);
    @include centerer();
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-yb {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-yb {
      width: 177.78vh;
    }
  }

  .page-usa .project-info-text-title {
    color: $brand-primary-color;
    font-weight: 700;
  }

  .primary-menu-list {
    li {
        // flex: 1 !important;
        text-align: center;
        margin: 0.5rem 0;
        @include MQ(L) {
            margin-right: 20px;
        }

        &:last-child {
            margin-right: 0;
        }

        .nav-link {
            font-size: 14px;
        }
    }
  }

  .footer-menu {

    li {
        flex: 1;
        text-align: center;
    }

  }

  .rentas-section {
      &__title {
        background: #e07e0c;
        color: white;
        text-transform: uppercase;
        display: block;
        text-align: center;
        min-height: 50px;
        position: relative;
        &:hover {
            color: white;
        }
        &-text {
            @include centerer();
            width: 100%;
        }
    }
    &__image {
        background: url('../img/rentas-section-image.jpg') no-repeat;
        background-size: cover;
        color: white;
        text-transform: uppercase;
        display: block;
        text-align: center;
        min-height: 50px;
        position: relative;
        &:hover {
            color: white;
        }
        &-text {
            @include centerer();
            &::after {
                content: ']';
            }
            &::before {
                content: '[';
            }
        }
    }
  }

  .complement-ads {
    @include MQ(L) {
        max-height: 110px;
        overflow: hidden;
    }
    & img {
        object-fit: cover;
        @include MQ(L) {
            max-height: 110px;
        }
    }
  }
  .link-residencial .nav-item {
    margin-right: 0;
  }