.btn {
    border-radius: 0 !important;
    border: none;
    padding: 6px 20px;
    transition: .2s ease-in-out all;
    border-radius: 0;
    cursor: pointer;
    &:focus{
        box-shadow: none !important;
    }

    .dark &-primary {
        background: $theme-dark-primary-color !important;
    }

    &-primary{
        background: $brand-primary-color !important;
        border: 0;
        border-radius: 0 !important;
        color: $white !important;
        &:hover {
            color: $dark-grey !important;
            background: $light-grey !important;
        }
    }

    .dark &-secondary {
        background: $theme-dark-secondary-color !important;
    }

    &-secondary{
        background: $brand-secondary-color !important;
        //border-radius: 5px;
        border-radius: 0 !important;
            border: none;
        color: $white !important;
        &:hover {
            color: $dark-grey !important;
            background: $light-grey !important;
        }
        &.active{
            background: $brand-primary-color !important;
            border: 0;
            border-radius: 0 !important;
            color: $white !important;
            &:hover {
                color: $white !important;
                background: $brand-primary-color !important;
            }
            .dark &{
                background: $theme-dark-primary-color !important;
            }
        }
    }
    &-linear{
        // background: $brand-secondary-color !important;
        //border-radius: 5px;
        border-radius: 0 !important;
        border: 1px solid $brand-primary-color;
        color: $brand-primary-color !important;
        &:hover {
            color: $dark-grey !important;
            background: $light-grey !important;
            border:none;
        }
    }
    &-emphasis{
        background: $brand-emphasis-color !important;
        border: 0;
        border-radius: 0 !important;
        color: $white !important;
        &:hover {
            color: $dark-grey !important;
            background: $light-grey !important;
        }
    }
}

.contact-floating{
    &-list {
        @include MQ(L) {
            padding-right: 40px !important;
        }
    }
    &-container-home {
        position: fixed;
        bottom: 0;
        left: 12px;
        z-index: 4;
    }
    &-container {
        position: fixed;
        right: 0;
        @include center(y);
        z-index: 4;
        // background: rgba($white, .5);
        // width: 100%;
    }
    &-link {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        padding: 22px;
        & i {
            position: relative;
            @include center(xy);
            font-size: 1.5rem;
            color: $white;
        }
    }
    &-whatsapp {
        // background: #00bfa5;
        background: #9DCE35;
        border-radius: 50rem;
        transition: .2s ease-in-out all;
        @include MQ(L) {
            box-shadow: 0 5px 5px -3px rgba(#015348, .2), 0 8px 10px 1px rgba(#015348, .2), 0 3px 14px 2px rgba(#015348, .2);
            margin-bottom: 20px;
        }
        &:hover {
            background: #019682;
        
        }
    }
    &-form {
        background: #2DAFE9;
        border-radius: 50rem;
        @include MQ(L) {
            box-shadow: 0 5px 5px -3px rgba(#015348, .2), 0 8px 10px 1px rgba(#015348, .2), 0 3px 14px 2px rgba(#015348, .2);
        }
        &:hover {
            background: $brand-primary-color;
        }}

}

.social-fixed {
    &-container {
        position: fixed;
        left: 0;
        @include center(y);
        z-index: 4;
        max-width: 50px;
    }
    &-list {
        padding: 10px;
        @include MQ(L) {
            padding: 40px;
        }
    }
    &-item {
        padding: 5px 0;
    }
    &-link {
        display: block;
        border-radius: 50rem;
        width: 30px;
        height: 30px;
        padding: 22px;
        position: relative;
        color: $brand-primary-color;
        background: $ultra-light-grey;
        @include MQ(L) {
            background: $white;
        }
        & i {
            position: relative;
            @include center(xy);
            font-size: 1.5rem;
        }
        &:hover {
            color: $brand-secondary-color;
        }
    }
}
.form-modal, .whatsapp-modal {
    position: fixed;
    bottom: -400%;
    z-index: 4;
    width: 100%;
    height: calc(100vh - 90px);
    transition: all .5s ease-in-out;
    @include MQ(M) {
        border: 1px solid #c3c3c3;
        width: auto;
        height: auto;
    }
    &-open {
        bottom: -2px;
    }
}

.form-modal {
    right: 0;
    @include MQ(M) {
        right: -2px;
    }
}

.whatsapp-modal {
    min-height: 100%;
    left: 0;
    z-index: 11;
    @include MQ(M) {
        min-height: 660px;
        min-width: 500px;
        left: -2px;
    }
}

.ws-item {
    padding: 10px;
    &--img {
        max-width: 30px;
        margin-right: 10px;
        border-radius: 50% !important;
        border: solid 2px #03cc0b;
    }
    &--txt {
        padding-top: 2px;
        font-size: 22px;
    }
}

.formulario-general .input-group-text {
    background: none;
    border: none;
}