.btn {
    border-radius: 0 !important;
    border: none;
    padding: 6px 20px;
    transition: .2s ease-in-out all;
    border-radius: 0;
    cursor: pointer;
    &:focus{
        box-shadow: none !important;
    }

    &-primary{
        background: $brand-primary-color !important;
        border: 0;
        border-radius: 0 !important;
        color: $white !important;
        &:hover {
            color: $dark-grey !important;
            background: $ligth-grey !important;
        }
    }
    &-secondary{
        background: $brand-secondary-color !important;
        //border-radius: 5px;
        border-radius: 0 !important;
            border: none;
        color: $white !important;
        &:hover {
            color: $dark-grey !important;
            background: $ligth-grey !important;
        }
        &.active{
            background: $brand-primary-color !important;
            border: 0;
            border-radius: 0 !important;
            color: $white !important;
            &:hover {
                color: $white !important;
                background: $brand-primary-color !important;
            }
        }
    }
    &-linear{
        // background: $brand-secondary-color !important;
        //border-radius: 5px;
        border-radius: 0 !important;
        border: 1px solid $brand-primary-color;
        color: $brand-primary-color !important;
        &:hover {
            color: $dark-grey !important;
            background: $ligth-grey !important;
            border:none;
        }
    }
    &-emphasis{
        background: $brand-emphasis-color !important;
        border: 0;
        border-radius: 0 !important;
        color: $white !important;
        &:hover {
            color: $dark-grey !important;
            background: $ligth-grey !important;
        }
    }
}

.contact-floating{
    &-container {
        position: fixed;
        right: 0;
        @include center(y);
        z-index: 4;
        // background: rgba($white, .5);
        // width: 100%;
    }
    &-list {
        max-width: 1600px;
        margin: 0 auto;
    }
    &-whatsapp {
        &-button {
            background: #00bfa5;
            color: $white;
            padding: 15px;
            border-radius: 50rem;
            box-shadow: 0 5px 5px -3px rgba(#015348, .2), 0 8px 10px 1px rgba(#015348, .2), 0 3px 14px 2px rgba(#015348, .2);
            transition: .2s ease-in-out all;
            margin-bottom: 20px;
            &:hover {
                background: #019682;
            }
        }
    }
    &-form {
        background: #6dccf1;
        padding: 15px;
        border-radius: 50rem;
        box-shadow: 0 5px 5px -3px rgba(#015348, .2), 0 8px 10px 1px rgba(#015348, .2), 0 3px 14px 2px rgba(#015348, .2);
    }
}

.form-modal, .whatsapp-modal {
    position: fixed;
    bottom: -400%;
    z-index: 4;
    width: 100%;
    height: calc(100vh - 90px);
    transition: all .5s ease-in-out;
    @include MQ(M) {
        border: 1px solid #c3c3c3;
        width: auto;
        height: auto;
    }
    &-open {
        bottom: -2px;
    }
}

.form-modal {
    right: 0;
    @include MQ(M) {
        right: -2px;
    }
}

.whatsapp-modal {
    left: 0;
    @include MQ(M) {
        left: -2px;
    }
}

.formulario-general .input-group-text {
    background: none;
    border: none;
}

// .input-group-prepend label.error {
//     display: block;
//     width: 100%;
// }