@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #3c3c3c;
  background: #E6E6E6;
  font-size: 0.9rem;
}

h2 {
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.8rem;
  }
}

a {
  color: #3c3c3c;
  transition: 0.2s ease-in-out all;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #2876A2;
}
a:focus {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

strong, .font-bold {
  font-weight: 700;
}

label {
  font-weight: 400;
}

.content-wrapper {
  min-height: calc(100vh - 360px);
}

.bk-text-justify--center {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .bk-text-justify--center {
    text-align: justify;
  }
}

.mh-100 {
  min-height: 100vh;
}

label.error {
  color: red;
  font-size: 11px !important;
}

.bg-ultra-ligth-grey {
  background-color: #E6E6E6;
}

.text-ultra-ligth-grey {
  color: #E6E6E6;
}

.bg-ligth-grey {
  background-color: #a1a1a1;
}

.text-ligth-grey {
  color: #a1a1a1;
}

.bg-medium-grey {
  background-color: #697789;
}

.text-medium-grey {
  color: #697789;
}

.bg-dark-grey {
  background-color: #121212;
}

.text-dark-grey {
  color: #121212;
}

.bg-primary-color {
  background-color: #2876A2;
}

.text-primary-color {
  color: #2876A2;
}

.bg-secondary-color {
  background-color: #3c3c3c;
}

.text-secondary-color {
  color: #3c3c3c;
}

.bg-emphasis-color {
  background-color: #FFB221;
}

.text-emphasis-color {
  color: #FFB221;
}

.bg-whatsapp-color {
  background-color: #00bfa5;
}

.text-whatsapp-color {
  color: #00bfa5;
}

.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: white;
}
.cd-loader__grid {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 0.2s;
}
.cd-loader__item {
  width: 100%;
  height: 100%;
  background-size: contain;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spinner {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #2876A2;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger {
  position: relative;
  left: 0;
  z-index: 999;
}

.bk-primary-nav {
  height: 100%;
  background: rgba(255, 255, 255, 0.99);
  position: fixed;
  right: 0;
  max-width: 100%;
  width: 100%;
  z-index: 5;
  transform: translateX(-180%);
  transition: all ease-in-out 0.4s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.bk-primary-nav__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bk-primary-nav__menu-item {
  font-size: 1.8rem;
  text-align: center;
  padding: 8px 0;
}
.bk-primary-nav.loaded {
  transform: translateX(0);
}

button:focus {
  outline: none;
}

.bk-sticky--nav {
  min-height: 50px;
  position: relative;
  z-index: 6;
  width: 100%;
  transition: 2s all ease-in-out;
}
.bk-sticky--nav__logo {
  max-width: 125px;
  padding-top: 5px;
}

#menu-primary {
  font-size: 1.3rem;
}
#menu-primary .nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
#menu-primary .drop-menu .menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu-primary .drop-item {
  text-transform: uppercase;
  font-size: 1.2rem;
}
#menu-primary .drop-item::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin-bottom: 10px;
}

.primary-logo {
  max-height: 50px;
  min-width: 150px;
}

#projectMenuBig a {
  font-size: 1.5rem;
}

#ProyectosMenu .mobile100 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #ProyectosMenu .mobile100 {
    width: auto !important;
  }
}

.btn {
  border-radius: 0 !important;
  border: none;
  padding: 6px 20px;
  transition: 0.2s ease-in-out all;
  border-radius: 0;
  cursor: pointer;
}
.btn:focus {
  box-shadow: none !important;
}
.btn-primary {
  background: #2876A2 !important;
  border: 0;
  border-radius: 0 !important;
  color: white !important;
}
.btn-primary:hover {
  color: #121212 !important;
  background: #a1a1a1 !important;
}
.btn-secondary {
  background: #3c3c3c !important;
  border-radius: 0 !important;
  border: none;
  color: white !important;
}
.btn-secondary:hover {
  color: #121212 !important;
  background: #a1a1a1 !important;
}
.btn-secondary.active {
  background: #2876A2 !important;
  border: 0;
  border-radius: 0 !important;
  color: white !important;
}
.btn-secondary.active:hover {
  color: white !important;
  background: #2876A2 !important;
}
.btn-linear {
  border-radius: 0 !important;
  border: 1px solid #2876A2;
  color: #2876A2 !important;
}
.btn-linear:hover {
  color: #121212 !important;
  background: #a1a1a1 !important;
  border: none;
}
.btn-emphasis {
  background: #FFB221 !important;
  border: 0;
  border-radius: 0 !important;
  color: white !important;
}
.btn-emphasis:hover {
  color: #121212 !important;
  background: #a1a1a1 !important;
}

.contact-floating-container-home {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.contact-floating-container {
  position: fixed;
  right: 0;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 4;
}
.contact-floating-list {
  max-width: 1600px;
  margin: 0 auto;
}
.contact-floating-whatsapp-button {
  background: #00bfa5;
  color: white;
  padding: 15px;
  border-radius: 50rem;
  box-shadow: 0 5px 5px -3px rgba(1, 83, 72, 0.2), 0 8px 10px 1px rgba(1, 83, 72, 0.2), 0 3px 14px 2px rgba(1, 83, 72, 0.2);
  transition: 0.2s ease-in-out all;
  margin-bottom: 20px;
}
.contact-floating-whatsapp-button:hover {
  background: #019682;
}
.contact-floating-form {
  background: #6dccf1;
  padding: 15px;
  border-radius: 50rem;
  box-shadow: 0 5px 5px -3px rgba(1, 83, 72, 0.2), 0 8px 10px 1px rgba(1, 83, 72, 0.2), 0 3px 14px 2px rgba(1, 83, 72, 0.2);
}

.form-modal, .whatsapp-modal {
  position: fixed;
  bottom: -400%;
  z-index: 4;
  width: 100%;
  height: calc(100vh - 90px);
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .form-modal, .whatsapp-modal {
    border: 1px solid #c3c3c3;
    width: auto;
    height: auto;
  }
}
.form-modal-open, .whatsapp-modal-open {
  bottom: -2px;
}

.form-modal {
  right: 0;
}
@media screen and (min-width: 768px) {
  .form-modal {
    right: -2px;
  }
}

.whatsapp-modal {
  min-height: 660px;
  min-width: 500px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .whatsapp-modal {
    left: -2px;
  }
}

.ws-item {
  padding: 10px;
}
.ws-item--img {
  max-width: 30px;
  margin-right: 10px;
  border-radius: 50% !important;
  border: solid 2px #03cc0b;
}
.ws-item--txt {
  padding-top: 2px;
  font-size: 18px;
}

.formulario-general .input-group-text {
  background: none;
  border: none;
}

.footer-icon-span {
  width: 20px;
  height: 30px;
  display: inline-block;
}
.footer-icon-img {
  min-width: 100%;
}

.footer-legal-text, .footer-legal-text a {
  color: rgb(158, 158, 158);
}

@media screen and (min-width: 768px) {
  #myVideo {
    min-width: 100%;
    object-fit: contain;
    object-position: top;
    max-width: 100% !important;
  }
}

.long-content {
  max-height: 700px;
  overflow: hidden;
  background-color: #3c3c3c;
  position: relative;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-text {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-text h1 {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .video-text h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .home-content {
    background: linear-gradient(90deg, rgb(214, 213, 213) 0%, rgb(214, 213, 213) 40%, rgb(230, 230, 230) 40%, rgb(230, 230, 230) 100%);
  }
}

.main-menu a {
  font-size: 1.1rem;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .main-menu a {
    font-size: 0.8rem;
  }
}

.project-info-wrapp {
  position: relative;
}

.label-vendido {
  position: absolute;
  top: -10px;
  right: 20px;
}

.formulario-general input,
.formulario-general textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  border-radius: 0;
}
.formulario-general .input-group-text {
  border-radius: 0;
  border-bottom: 1px solid #3c3c3c;
}
.formulario-general .label {
  position: relative;
  transition: 0.1s all ease-in-out;
  transform: translateY(35px);
}
.formulario-general .activelabel {
  transform: translateY(0);
}

.planta-item {
  transition: all 0.1s ease-in-out;
}
.planta-item:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .plantas-info-wrap {
    min-height: 395px;
  }
}
.plantas-info-title {
  font-size: 1.3rem;
  font-weight: 700;
  border-bottom: 4px solid #2876A2;
}

.content-table ul {
  border-top: 1px solid #3c3c3c;
  padding: 5px 0;
}
@media screen and (min-width: 768px) {
  .content-table ul {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .esquicio {
    max-width: 300px;
  }
}

.fotografia-planta {
  width: 100%;
  max-width: 280px;
}

.menu-nav-fixed {
  position: fixed !important;
  top: 0;
  z-index: 10;
  width: 100%;
}

.bg-azul {
  background-size: cover;
  position: relative;
}
.bg-azul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 118, 162, 0.95);
  display: block;
}

.gallery-caarousel .owl-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .gallery-caarousel .owl-stage {
    display: flex;
    align-items: center;
  }
  .gallery-caarousel .owl-item.active > div {
    opacity: 0.5;
    transition: 0.5s all ease-in-out;
  }
  .gallery-caarousel .owl-item.center {
    position: relative;
    z-index: 9 !important;
  }
  .gallery-caarousel .owl-item.center div {
    opacity: 1;
    width: 140%;
    position: relative;
    right: -20%;
    z-index: 9 !important;
  }
  .gallery-caarousel .owl-item.active .item {
    transition: 0.5s all ease-in-out;
    float: right;
    position: relative;
    z-index: 2;
  }
  .gallery-caarousel .owl-item.center + .owl-item .item {
    float: none;
    position: relative;
    z-index: 2 !important;
  }
  .gallery-caarousel .owl-nav {
    font-size: 40px;
    color: white;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -20px;
    text-align: right;
    display: block;
  }
  .gallery-caarousel .owl-nav .owl-prev {
    border-radius: 0;
    background: rgba(40, 118, 162, 0.9) !important;
  }
  .gallery-caarousel .owl-nav .owl-prev span {
    padding: 10px 20px !important;
  }
  .gallery-caarousel .owl-nav .owl-next {
    border-radius: 0;
    background: rgba(60, 60, 60, 0.9) !important;
  }
  .gallery-caarousel .owl-nav .owl-next span {
    padding: 10px 20px !important;
  }
  .gallery-caarousel .owl-dots.disabled,
.gallery-caarousel .owl-nav.disabled {
    display: block;
  }
}

.btns-map {
  position: relative;
  bottom: 45px;
}
@media screen and (min-width: 768px) {
  .btns-map {
    position: absolute;
    bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .br-shadow {
    box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

.primary-title {
  color: #2876A2;
  font-weight: 700;
}
.primary-title::before {
  content: "";
  background: url("../img/title-img.png") no-repeat;
  background-size: contain;
  opacity: 0.7;
  position: absolute;
  top: -35px;
  width: 120px;
  height: 34px;
}
.section-title_naranjo .primary-title {
  color: #db9a45;
}
.section-title_naranjo .primary-title::before {
  content: "";
  background: url("../img/title-img-naranjo.png") no-repeat;
  background-size: contain;
}
.section-title_verde .primary-title {
  color: #70b66d;
}
.section-title_verde .primary-title::before {
  content: "";
  background: url("../img/title-img-verde.png") no-repeat;
  background-size: contain;
}
.section-title_gris .primary-title {
  color: #3C3C3C;
}
.section-title_gris .primary-title::before {
  content: "";
  background: url("../img/title-img-gris.png") no-repeat;
  background-size: contain;
}

.wrapper-only {
  position: relative;
}

.max-w-480 {
  max-width: 480px;
}

.project-info-text {
  font-size: 1.2rem;
}

#projectMenu a::after {
  content: "";
  transition: 0.5s all ease-in-out;
}
#projectMenu a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2876A2;
}

.bg-img {
  background-size: cover;
  filter: blur(15px);
  opacity: 0.5;
}

.img-absolute {
  position: absolute;
  top: 0;
  margin: 0 auto;
}
.img-absolute img {
  max-height: calc(80vh - 80px);
  object-fit: contain;
}

.project-hero img {
  max-height: calc(90vh - 80px);
  object-fit: cover;
  object-position: bottom;
}
.project-home-hero img {
  max-height: calc(95vh - 80px);
  object-fit: cover;
  object-position: bottom;
}

.general-slide-nav {
  font-size: 40px;
  color: white;
  position: relative;
  margin-top: -80px;
  display: flex;
  justify-content: flex-end;
}
.general-slide-nav-prev {
  color: white;
  border-radius: 0;
  background: rgba(40, 118, 162, 0.9) !important;
}
.general-slide-nav-prev span {
  padding: 10px 20px !important;
}
.general-slide-nav-next {
  color: white;
  border-radius: 0;
  background: rgba(60, 60, 60, 0.9) !important;
}
.general-slide-nav-next span {
  padding: 10px 20px !important;
}

.planB-tab {
  font-size: 40px;
  color: white;
}
@media screen and (min-width: 768px) {
  .planB-tab {
    position: relative;
    margin-top: -20px;
    display: flex;
    justify-content: flex-end;
  }
}
.planB-tab-item {
  color: white;
  border-radius: 0;
  background: rgba(60, 60, 60, 0.9);
}
.planB-tab-item.active {
  background: rgba(40, 118, 162, 0.9) !important;
}
.planB-tab-item span {
  padding: 10px !important;
}

.bg-medio-azul {
  background: linear-gradient(90deg, #e6e6e6 0%, #e6e6e6 50%, #d6d5d5 50%, #d6d5d5 100%);
}

#caracteristicas img {
  max-height: 60px;
  margin-bottom: 15px;
}

.project-carousel .owl-stage {
  align-self: stretch;
}
.project-carousel .owl-item,
.project-carousel .owl-stage {
  display: flex;
  height: 100%;
}
.project-carousel .owl-item:nth-child(odd) {
  background: rgba(40, 118, 162, 0.9);
  margin: 0 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.project-carousel .owl-item:nth-child(even) {
  background: rgba(60, 60, 60, 0.9);
  margin: 0 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.project-carousel--item {
  color: white;
  display: flex;
  width: 100%;
  text-align: center;
}
.project-carousel--item img {
  max-width: 60px;
}
.project-carousel--item p {
  font-size: 14px;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .projec-wrapper-container {
    z-index: 4;
    position: relative;
    margin-top: -10px;
  }
}
@media screen and (min-width: 1400px) {
  .projec-wrapper-container {
    z-index: 4;
    position: relative;
    margin-top: -50px;
  }
}
.projec-wrapper-content li {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .projec-wrapper-content li {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .projec-wrapper-content-ubicacion {
    border-left: 1px solid #d6d5d5;
    border-right: 1px solid #d6d5d5;
  }
}
@media screen and (min-width: 768px) {
  .projec-wrapper-content-precio {
    border-left: 1px solid #d6d5d5;
  }
}
@media screen and (min-width: 768px) {
  .projec-wrapper-content-img img {
    max-width: 100%;
    max-height: 50px;
  }
}

.arquitectura-carousel,
.video-portada {
  position: relative;
  z-index: 2;
}
.arquitectura-carousel::after,
.video-portada::after {
  content: "";
  display: block;
  height: 70%;
  width: 70%;
  position: absolute;
  bottom: 5%;
  right: 0;
  background: #d6d5d5;
  z-index: -1;
}

.gallery-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: #e6e6e6;
}

.home-hero-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.buttons-next-prev-plantas {
  display: none;
}
@media screen and (min-width: 768px) {
  .buttons-next-prev-plantas {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #e6e6e6;
    font-size: 4rem;
  }
}
.buttons-next-prev-plantas a {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .map-column {
    height: 670px;
  }
}

.mapItem {
  opacity: 0;
  height: 0;
  transition: 1s ease-in-out opacity;
}
.mapItem iframe {
  transition: 1s ease-in-out opacity;
  height: 0;
}

.mapActive {
  height: 100%;
  opacity: 1;
}
.mapActive iframe {
  height: 670px;
}

.blur-img {
  filter: blur(15px);
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}

.rentas-hero-title {
  position: absolute;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  padding: 10px 20px 10px 50px;
  background: rgba(255, 255, 255, 0.9);
}

.home-hero-container {
  min-height: calc(95vh - 80px);
}
.home-hero-container img {
  width: auto !important;
}

.color-primary {
  color: #2876A2;
}

.color-emphasis {
  color: #FFB221;
}

.rentas-sub-title {
  font-size: 1.2rem;
}

.after-number-1 {
  position: relative;
}
.after-number-1::after {
  content: "1";
  display: block;
  width: 50px;
  height: 50px;
  color: white;
  background: #2876A2;
  position: absolute;
  padding-left: 15px;
  font-size: 2rem;
  font-weight: bold;
  right: -10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.after-number-2 {
  position: relative;
}
.after-number-2::after {
  content: "2";
  display: block;
  width: 50px;
  height: 50px;
  color: white;
  background: #2876A2;
  position: absolute;
  padding-left: 15px;
  font-size: 2rem;
  font-weight: bold;
  right: -10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.after-number-3 {
  position: relative;
}
.after-number-3::after {
  content: "3";
  display: block;
  width: 50px;
  height: 50px;
  color: white;
  background: #2876A2;
  position: absolute;
  padding-left: 15px;
  font-size: 2rem;
  font-weight: bold;
  right: -10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.after-number-4 {
  position: relative;
}
.after-number-4::after {
  content: "4";
  display: block;
  width: 50px;
  height: 50px;
  color: white;
  background: #2876A2;
  position: absolute;
  padding-left: 15px;
  font-size: 2rem;
  font-weight: bold;
  right: -10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.descripcion_proyecto p {
  font-size: 0.9rem;
}

.project-icons {
  min-width: 84px;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .project-icons {
    width: auto;
  }
}

.fixed-menu-primary {
  position: fixed;
  z-index: 4;
  width: 100%;
}

.link-active::after {
  content: "";
  height: 1px;
  background: #2876A2;
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .link-active::after {
    width: 100%;
    height: 4px;
    width: 110%;
  }
}

.mp-list-bg {
  position: relative;
  width: 30px;
  height: 30px;
  background: #2876A2;
  display: block;
  min-width: 30px;
  margin-right: 10px;
}

.mp-list-number {
  color: white;
  position: relative;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.master-plan-bullets {
  width: 50%;
  margin-bottom: 40px;
  position: relative;
  padding-right: 10px;
}
@media screen and (min-width: 1024px) {
  .master-plan-bullets {
    width: 25%;
  }
}

.img-404 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .img-404 {
    width: auto !important;
  }
}

.playvideo {
  position: relative;
  z-index: 999999;
  align-self: center;
  justify-self: center;
}
.playvideo::after {
  content: "";
  display: block;
  width: 90px;
  height: 70px;
  background: url("../img/play-video.png") no-repeat;
  background-size: contain;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background: rgba(40, 118, 162, 0.5);
  z-index: 998;
}

@media screen and (min-width: 768px) {
  .floating-form {
    position: absolute;
    top: 0;
    right: 20px;
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .floating-form {
    top: 20px;
  }
}
.floating-form-bg {
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 10px 0 10px;
}
@media screen and (min-width: 1024px) {
  .floating-form-bg {
    padding: 5px 25px 0 25px;
  }
}
@media screen and (min-width: xL) {
  .floating-form-bg {
    padding: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .formulario_floatante {
    max-width: 400px;
  }
}

.pasos-wrapper {
  background: #2876A2;
  background: linear-gradient(to bottom, #2876A2, #1e5879);
}

.flip {
  text-align: center;
}
.flip .fcard {
  min-height: 190px;
  transform-style: preserve-3d;
  transition: 0.5s;
  padding: 10px;
}
.flip .fcard .face {
  backface-visibility: hidden;
  z-index: 2;
}
.flip .fcard .front {
  padding-top: 10px;
  position: absolute;
  z-index: 1;
}
.flip .fcard .back {
  padding-left: 20px;
  padding-right: 20px;
  transform: rotatey(-180deg);
  position: absolute;
  background: #3c3c3c;
  color: white;
  height: 100%;
}
.flip .fcard img {
  height: 70px;
}
.flip .fcard.flipped {
  transform: rotatey(-180deg);
}
.flip .more-info {
  background: #a1a1a1;
  border-radius: 50rem;
  padding: 2px 12px;
}

.beneficios-carousel.owl-theme .owl-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.beneficios-carousel.owl-theme .owl-nav .owl-prev,
.beneficios-carousel.owl-theme .owl-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.beneficios-carousel.owl-theme .owl-nav .owl-prev i,
.beneficios-carousel.owl-theme .owl-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.beneficios-carousel.owl-theme .owl-nav .owl-prev {
  left: 0;
}
.beneficios-carousel.owl-theme .owl-nav .owl-next {
  right: 0;
}

.beneficios-carousel {
  display: none;
}

.beneficios-carousel.owl-loaded {
  display: block;
}

#navbarNav .menu-item a {
  font-weight: 700;
}

.menu-item-has-children .drop-menu {
  background: #f5f5f5;
  padding: 5px 0;
}
@media screen and (min-width: 768px) {
  .menu-item-has-children .drop-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background: white;
    padding: 15px;
    min-width: 180px;
    display: none;
    margin-left: -15px;
  }
}
.menu-item-has-children .drop-menu .menu-item:not(.link-active) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .menu-item-has-children .drop-menu .menu-item:not(.link-active) {
    border-bottom: 1px solid #697789;
  }
}
.menu-item-has-children .drop-menu .drop-item {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .menu-item-has-children .drop-menu .drop-item {
    font-size: 12.8px;
  }
}

.tab-pane.active a[data-fancybox=gallery] {
  display: block !important;
}

.no-border {
  border: none !important;
}

.video-content-yb {
  overflow: hidden;
}

.container-yb {
  position: relative;
  width: 100vw;
  min-height: 770px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container-yb {
    width: 100vw;
    height: calc(95vh - 80px);
  }
}

.video-yb {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: calc(95vh - 80px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-yb {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-yb {
    width: 177.78vh;
  }
}
.page-usa .project-info-text-title {
  color: #2876A2;
  font-weight: 700;
}

.primary-menu-list li {
  text-align: center;
  margin: 0.5rem 0;
}
@media screen and (min-width: 1024px) {
  .primary-menu-list li {
    margin-right: 20px;
  }
}
.primary-menu-list li:last-child {
  margin-right: 0;
}
.primary-menu-list li .nav-link {
  font-size: 14px;
}

.footer-menu li {
  flex: 1;
  text-align: center;
}

.rentas-section__title {
  background: #e07e0c;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  min-height: 50px;
  position: relative;
}
.rentas-section__title:hover {
  color: white;
}
.rentas-section__title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.rentas-section__image {
  background: url("../img/rentas-section-image.jpg") no-repeat;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  min-height: 50px;
  position: relative;
}
.rentas-section__image:hover {
  color: white;
}
.rentas-section__image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rentas-section__image-text::after {
  content: "]";
}
.rentas-section__image-text::before {
  content: "[";
}

@media screen and (min-width: 1024px) {
  .complement-ads {
    max-height: 110px;
    overflow: hidden;
  }
}
.complement-ads img {
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .complement-ads img {
    max-height: 110px;
  }
}

.link-residencial .nav-item {
  margin-right: 0;
}
/*# sourceMappingURL=main-dist.css.map */